<%= form_with(model: [@inbox, message]) do |form| %>
  <%= render 'shared/errors', form: form %>

  <div class="field">
    <%= form.text_area :body,
                       style: 'width:100%;',
                       rows: 10,
                       maxlength: Message::MAX_BODY %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
