<div id="flash">
  <% flash.each do |type, message| %>
    <div data-controller="autohide">
      <%= content_tag :div, message, id: "#{type}", class: "flash-#{type}" %>
    </div>
  <% end %>
</div>
