<center>
  <h1>
    <%= link_to_unless_current Rails.application.class.module_parent.name, root_path %>
  </h1>
  <%= link_to_unless_current 'Inboxes', inboxes_path %>
  <%= link_to_unless_current 'New inbox', new_inbox_path %>
</center>
<hr>
