<div id="<%= dom_id inbox %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= inbox.name %>
  </p>

  <%= inbox.user.email %>

  <p>
    <%= link_to "Show this inbox", inbox %>
  </p>
</div>
